{% load static %}

<!DOCTYPE html lang="en">
    <head>
        <title>Anti-UX</title>
        <link rel="stylesheet" type="text/css" href="{% static 'anti_app/test.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="left">
                <h1>finder.</h1>
                <p>find the best events near you.</p>
            </div>
            <div class="right">
                <p>see what's happening now.</p>
                <p>join finder today.</p>
                <button>sign up.</button>
                <button>sign in.</button>
            </div>
        </div>
    </body>
</html>